
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Exo 2'
  
/* font-family: 'Fira Sans Extra Condensed', sans-serif; */

}



a{
  text-decoration: none;

}
.map{
  border: 0;
  border-radius: 20px;
  filter: grayscale(100%);
  padding: 10px ;
}
.body{
  position: relative;

}
.cart_drawer{
  background-image: linear-gradient(30deg , #f0c000b0 , #208080c3);
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.discont{
  text-decoration:line-through;
  text-decoration-color: red;
  padding-right: 5px;
  color: red;
}
.table_row{
  position: relative;

}
.table-icon{
  opacity: 0;
  transition: all .4s ease-in-out !important;
}
.table_row:hover .table-icon{
opacity: 1;
}